/* Modebar padding and margin */
.js-plotly-plot .plotly .modebar {
    padding-top: 5%;
    margin-right: 3.5%;
  }
  
  /* General body styling */
  body {
    background-color: #eaeaea; /* theme.background_page */
    color: #6D6D6D; /* theme.text */
    font-family: 'Open Sans', sans-serif; /* theme.font_family */
    font-size: 17px; /* theme.font_size */
  }
  
  /* Columns */
  .two.columns {
    width: 16.25%;
  }
  
  .column,
  .columns {
    margin-left: 0.5%;
  }
  
  /* Pretty container styling */
  .pretty_container {
    border-radius: 0px; /* theme.card_border.radius */
    background-color: #F7F9F9; /* theme.card_background_color */
    margin: 15px; /* theme.card_margin */
    padding: 5px; /* theme.card_padding */
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24); /* theme.card_box_shadow */
    border: 0px solid #D1D1D1; /* theme.card_border.color */
  }
  
  /* Bare container styling */
  .bare_container {
    margin: 0;
    padding: 0;
  }
  
  /* Control styling */
  .dcc_control {
    margin: 0;
    padding: 5px;
    width: calc(100% - 40px);
  }
  
  /* Control label styling */
  .control_label {
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: calc(100% - 40px);
  }
  
  /* Slider styling */
  .rc-slider {
    margin-left: 0;
    padding-left: 0;
    background-color: #F7F9F9; /* theme.card_background_color */
  }
  
  .rc-slider-handle {
    border-color: #FF8827; /* theme.accent */
  }
  
  .rc-slider-track {
    background-color: #FF8827; /* theme.accent */
  }
  
  /* Flex display */
  .flex-display {
    display: flex;
  }
  
  /* Container display */
  .container-display {
    display: flex;
  }
  
  /* Individual and aggregate graph styling */
  #individual_graph,
  #aggregate_graph {
    width: calc(100% - 30px);
    position: absolute;
  }
  
  /* Count graph styling */
  #count_graph {
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
  }
  
  /* Count graph container styling */
  #countGraphContainer {
    flex: 5;
    position: relative;
  }
  
  /* Header styling */
  #header {
    align-items: center;
    background-color: #F7F9F9; /* theme.header_background_color */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24); /* theme.header_box_shadow */
    margin: 0 0 15px 0; /* theme.header_margin */
    padding: 0; /* theme.header_padding */
    border: 0 solid #D1D1D1; /* theme.header_border.color */
  }
  
  /* Learn more button styling */
  #learn-more-button {
    text-align: center;
    height: 100%;
    padding: 0 20px;
    text-transform: none;
    font-size: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
  }
  
  /* Title styling */
  #title {
    text-align: center;
  }
  
  /* Mini container styling */
  .mini_container {
    border-radius: 0px; /* theme.card_border.radius */
    background-color: #F7F9F9; /* theme.card_background_color */
    margin: 15px; /* theme.card_margin */
    padding: 5px; /* theme.card_padding */
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24); /* theme.card_box_shadow */
    border: 0px solid #D1D1D1; /* theme.card_border.color */
  }
  
  /* Right column styling */
  #right-column {
    display: flex;
    flex-direction: column;
  }
  
  /* Flex items */
  #wells,
  #gas,
  #oil,
  #water {
    flex: 1;
  }
  
  /* Triple container styling */
  #tripleContainer {
    display: flex;
    flex: 3;
  }
  
  /* Main container styling */
  #mainContainer {
    display: flex;
    flex-direction: column;
  }
  
  /* Pie graph legend positioning */
  #pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
    pointer-events: all;
    transform: translate(30px, 349px);
  }
  

  /* assets/custom.css */
.custom-container {
  width: 100%;  /* Adjust the width as needed, e.g., 100% for full width */
  max-width: 1400px;  /* Set a max-width if needed */
  margin: 0 auto;  /* Center the container */
  padding-left: 15px;
  padding-right: 15px;
}

/* Change the background color of the dropdown menu */
.Select-menu-outer {
  background-color: #f0f8ff !important; /* Replace with your desired color */
}

/* Change the background color of the dropdown items */
.Select-option {
  background-color: #456180 !important; /* Replace with your desired color */
}

/* Change the background color of the dropdown items when hovered */
.Select-option.is-focused {
  background-color: #5C8CBE !important; /* Replace with your desired color */
}

/* ######################## first */

body {
    background-color: #1d262f;
    color: #8784e5;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: #242e3f;
}

.container {
    margin-top: 20px;
}

.quick-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.quick-stat-box {
    background-color: #242e3f;
    padding: 20px;
    border-radius: 5px;
    width: 23%;
    text-align: center;
}

.quick-stat-box h2 {
    color: #33ffe6;
    font-size: 2em;
}

.quick-stat-box h4 {
    color: #33ffe6;
    font-size: 1.2em;
}

.graph-container {
    background-color: #242e3f;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.graph-container h3 {
    color: #33ffe6;
}

.word-cloud {
    background-color: #242e3f;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* ######################## page boutton */

.custom-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242e3f;
  border-radius: 3px;
  padding: 10px;
}
.custom-tab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #b2b6b5;
  background-color: #3f506e !important;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.custom-tab--selected {
  background-color: #33ffe6 !important;
  color: #3f506e !important;}

.dropdown-menu.show {
    color: #00008b; /* Dark blue text color for dropdown */
}

.Select-menu-outer {
  color: #3f506e !important; /* Blue text color for dropdown items */
}
/* .Select-control {
  border-color: #0000FF !important; /* Blue border color for multi-select components */

.Select-multi-value-wrapper {
  color: #0000FF !important; /* Blue text color for multi-select items */
}
.Select-input > input {
  color: #33ffe6 !important; /* Blue text color for dropdown input */
}
.Select-placeholder {
  color: #3f506e !important; /* Blue text color for placeholder */
}
.Select-value-label {
  color: #33ffe6 !important; /* Blue text color for selected value */
}